.h1 {
  font-weight: 500;
  font-size: xx-large;
  margin: 2rem;
}

.card-item {
  border: 2px black solid;
  background-color: rgb(188, 237, 237);
  width: 50%;
  margin: 20px auto;
  /* margin-left: 20%; */
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.post-item {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  background-color: rgb(188, 237, 237);
  width: 50%;
  margin: 20px auto;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.tag-container {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

.save-tag-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.save-tag-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.btn-div {
  display: flex;
  margin: auto;
  justify-content: center
}